html {
  background-color: #c9b5ab;
  font-family: "PT Sans", serif;
  line-height: 1.5;
  font-weight: bold;
}

h1 {
  font-family: "PT Sans", serif;
  color: #3f1622;
}

h2 {
  font-family: "PT Sans", serif;
  color: #3f1622;
}

img {
  width: 100%;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

dd {
  font-style: italic;
  font-family: "PT serif", serif;
}

i > h1 {
  font-style: italic;
}

a {
  color: #8f2440;
  text-decoration: none;
  list-style: none;
}

nav ol {
  list-style-type: none;
}

li :first-of-type {
  font-weight: bold;
  font-family: "PT sans", serif;
  font-size: 1.125rem;
  list-style-type: decimal-leading-zero;
}

.albino {
  font-family: "PT Serif", serif;
  font-weight: 200;
  font-size: .8rem;
  list-style-type: lower-greek;
}

blockquote {
  font-weight: lighter;
  font-family: "PT serif", serif;
  font-size: 1.5rem;
  font-style: italic;
}

figure {
  font-family: "PT serif", serif;
  font-style: italic;
  font-size: .8rem;
  font-weight: normal;
}

aside > p {
  font-style: italic;
  font-family: "PT serif", serif;
}

aside > ul {
  font-family: "PT serif", serif;
  font-weight: 200;
}

.para, .paratwo {
  font-weight: lighter;
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
}
