html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav {
  font-family: "PT Sans", serif;
  font-size: .8rem;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

a {
  color: #8f2440;
  text-decoration: none;
  list-style: none;
}

nav ol {
  list-style-type: none;
}

li :first-of-type {
  font-weight: bold;
  font-family: PT, serif;
  font-size: 1.125rem;
  list-style-type: decimal-leading-zero;
}

.albino {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  list-style-type: lower-greek;
  font-weight: normal;
}

blockquote {
  font-weight: lighter;
  font-family: PT, serif;
  font-size: 1.5rem;
  font-style: italic;
}

figcaption {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: normal;
  text-align: center;
}

.para, .paratwo {
  font-weight: lighter;
  font-size: 1.125rem;
  font-family: PT, serif;
}

.tags {
  font-weight: normal;
  font-size: 1.125rem;
  font-family: PT, serif;
}

.crimson {
  list-style-type: circle;
  font-weight: normal;
  font-size: 1.125rem;
  font-family: PT, serif;
}

dd {
  font-weight: normal;
  font-size: 1.125rem;
  font-family: PT, serif;
}
