html {
  background-color: #c9b5ab;
  font-family: "PT Sans", serif;
  font-size: 1.125rem;
  line-height: 1.5;
  width: 100;
}

h1 {
  font-weight: bold;
  font-family: "PT Sans", serif;
  color: #3f1622;
  font-size: 1.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: bold;
  font-family: "PT Sans", serif;
  color: #3f1622;
  font-size: 1.5rem;
  line-height: 1.5;
}

img {
  width: 100;
}

a:hover {
  background-color: #3f1622;
}
dt {
  font-weight: normal;
  font-family: "PT serif", serif;
}

dd {
  font-style: italic;
  font-family: "PT serif", serif;
}

i > h1 {
  font-style: italic;
}

a {
  color: #8f2440;
  text-decoration: none;
  list-style: none;
}

li :first-of-type {
  font-weight: bold;
  font-family: "PT sans", serif;
  font-size: 1.125rem;
}

.albino {
  font-family: "PT Serif", serif;
  font-weight: 200;
  font-size: .8rem;
  list-style-type: lower-greek;
}

blockquote {
  font-weight: lighter;
  font-family: "PT serif", serif;
  font-size: 1.5rem;
  font-style: italic;
  position: relative;
  width: 650px;
  margin: 30px auto;
}

figure {
  font-family: "PT serif", serif;
  font-style: italic;
  font-size: .8rem;
}

aside > p {
  font-style: italic;
  font-family: "PT serif", serif;
}

aside > ul {
  font-family: "PT serif", serif;
  font-weight: 200;
}
